/* General style */
body {
    font-family: 'Work Sans', sans-serif;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(0, 0, 0, 0.05);
}
.nav-box > ul, .nav-box, .nav-icon-box {
    display: flex;
    align-items: center;
}

.menu li, .nav-icon-box p {
    list-style: none;
}

.menu li a, .nav-icon-box a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-box > ul, .nav-box {
    gap: 2rem;
}

.nav-icon-box {
    gap: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.3rem 1.5rem;
}

.nav-box h2 {
    font-size: 2rem;
    font-weight: 700;
}

.nav-box span {
    color: #FF42A5;
}

/* Banner Style */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18.75rem;
    background: url('images/Group 14.png');
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner img {
    height: 30rem;
}

.banner-left h3 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    
}

.banner-left h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    color: #F948B2;
}

.banner-left p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.banner-left p i {
    color: #FF42A5;
}

.sign-in {
    border-radius: 3rem;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.05rem;
    font-weight: 600;
    border: none;
    padding: 1.3125rem 2.5rem;
}

.go-rouge {
    border-radius: 3rem;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.05rem;
    font-weight: 600;
    border: none;
    padding: 1.3125rem 2.5rem;
}

/* Gamer Style */
.gamer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;
    background-color: rgba(255, 66, 165, 0.03);
    text-align: right;
}

.gamer img {
    max-width: 46.875rem;
}

.gamer-right h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #F948B2;
    margin-top: 5.9375rem;
    margin-bottom: 1.5rem;
}

.gamer-right p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 28.125rem;
}

.gamer-right button {
    border-radius: 3rem;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1.3125rem 2.5rem;
    border: none;
}

.gamer-right h6 {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.3125rem;
}

.gamer-right h4 {
    color: #534C64;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0rem;
}

/* Online Games Style */
.online-games {
    text-align: center;
    margin-bottom: 7.5rem;
}
.online-games h3 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 7.5rem;
    margin-bottom: 1rem;
}

.online-games span {
    color: #F948B2;
}

.online-games-para {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.games-card img {
    max-width: 15.625rem;
}

.card-para {
    text-align: left;
    margin-top: 1.5rem;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.games-card-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* Play Instant Style */
.play-instant {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.play-instant-title {
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 200px;
    color: #F948B2;
}

.play-instant-para {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}
.play-instant-big-img {
    width: 80%;
}

.play-instant-mini-img {
    position: relative;
    bottom: 150px;
    right: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 35%;
}

/* Play Online Games Style */
.play-online-games {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.play-online-games-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 200px;
    color: #F948B2;
}

.play-online-games-para {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.play-online-games-big-img {
    width: 80%;
}

.play-online-games-mini-img {
    position: relative;
    bottom: 150px;
    left: 400px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 35%;
}

/* Careers Style */
.careers {
    background-color: #F948B2;
    display: flex;
    padding-left: 100px;
}

.careers img {
    width: 50%;
}

.careers-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.careers-para {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.table {
    display: flex;
    gap: 50px;
}

.table h5 {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.table p {
    color: #FFF;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.positions {
    border-radius: 48px;
    background: #FFF;
    font-size: 18px;
    font-weight: 600;
    color: #FF42A5;
    padding: 21px 40px;
    border: none;
    margin-bottom: 50px;
}

/* Games Button */
.games-btn {
    display: flex;
    justify-content: center;
    gap: 27px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
.games-btn button{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 20px;
    border: #FFF;
    transition: 0.5s;
}

.gm-btn:hover {
    border: 1.5px solid #FF42A5;
}

/* Footer Style */
footer {
    background-color: #0B0223;
    text-align: center;
    padding-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo h3 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-logo span {
    color: #FF42A5;
}

.services > li {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
}

.policy > li {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}

.services, .policy  {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.icons {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 100px;
}